/* Escritorio */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Clases especiales */
.borde{
    border: 1px solid gray;
}
.titulo{
    width: 100%;
    height: 50px;
}
/* Contenedor */
.contenedor{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}
/* Navegador */
nav{
    width: 100%;
    height: 50px;
}
.logo{
    width: 20%;
    height: 100%;
    padding: 5px;
    float: left;
}
.menu{
    width: 65%;
    height: 100%;
    padding: 5px;
    float: left;
}
.login{
    width: 15%;
    height: 100%;
    padding: 5px;
    float: left;
}
/* Encabezado */
header{
    width: 100%;
    height: 400px;
}
/* Portafolio */
.portafolio{
    width: 100%;
    height: 500px;
}
.port-col{
    width: 33.33%;
    height: 100%;
    float: left;
}
/* Nosotros */
.nosotros{
    width: 100%;
    height: 500px;
}
.nos-fila{
    width: 100%;
    height: 33.33%;
}
.nos-fila-col-ext{
    width: 40%;
    height: 100%;
    float: left;
}
.nos-fila-col-cnt{
    width: 20%;
    height: 100%;
    float: left;
}
/* Contáctenos */
.contacto{
    width: 100%;
    height: 500px;
}
.cont-col{
    width: 50%;
    height: 100%;
    float: left;
}
.cont-col-fila-arr{
    width: 100%;
    height: 70%;
}
.cont-col-fila-abj{
    width: 100%;
    height: 30%;
}
/* Pie de Página */
footer{
    width: 100%;
    height: 50px;
}

/* Tablet */
@media (max-width: 992px) {
    .contenedor{
        width: 100%;
    }    
    nav{
        height: 100px;
    }
    .logo{
        width: 100%;
        height: 50%;
    }
    .menu{
        width: 80%;
        height: 50%;
    }
    .login{
        width: 20%;
        height: 50%;
    }
    nav{
        height: 100px;
    }
    .logo{
        width: 100%;
        height: 50%;
    }
    .menu{
        width: 80%;
        height: 50%;
    }
    .login{
        width: 20%;
        height: 50%;
    }
}

/* Celular */
@media (max-width: 768px) {
    nav{
        height: 150px;
    }
    .logo{
        width: 100%;
        height: 50px;
    }
    .menu{
        width: 100%;
        height: 50px;
    }
    .login{
        width: 100%;
        height: 50px;
    }

}